.simple-select {
	@input-height: 28px;
	@padding: 5px;
	@select-bg-color: @input-bg;
	@tag-bg-color: @brand-primary;
	position: relative;
	width: 100%;
	//background-color: #fff;
	//Menu with options
	.menu {
		background-color: @dropdown-bg;
		color: @text-color;
		z-index: 99999999;
		position: absolute;
		max-height: 300px;
		overflow-x: hidden;
		overflow-y: auto;
		.menu-option {
			padding-left: @padding;
			min-height: @input-height;
			line-height: @input-height;
			&.selected {
				background-color: @dropdown-caret-color;
			}
		}
		box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
	}
	//The input line with caret
	&.focus .select-line {
		border-bottom: 2px solid @brand-primary;
		padding-bottom: @padding - 1;
	}
	//Values in multiselect
	.tags {
		display: inline-block;
		.label {
			display: inline-block;
		}
	}
}